.how {
  //display: none;
  //border: 1px solid #007bff;
  &__warps {
    position: relative;
  }

  &__title {
    @extend .titles;
    &--indent {
      margin-bottom: 60px;
      @media (max-width: $desktop-width) {
        margin-bottom: 45px;
      }
      @media (max-width: $tablet-width) {
        margin-bottom: 30px;
      }
    }
  }
  &__items {
    padding:  0 92px 0 95px;
  }
  &__item {
    display: flex;
    //margin-top: -110px;
    justify-content: space-between;
    height: 550px;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
  &__block {
    width: 47%;
    //width: 50%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    &--indent {
      margin-top: 150px;
    }
  }
  &__name {
    font-family: 'Roboto', sans-serif;
    @include font(28px, 1);
    font-weight: 500;
    @media (max-width: $desktop-width) {
      @include font(24px, 1);
    }
    @media (max-width: $tablet-width) {
      @include font(18px, 1);
    }
    &--indent {
      padding-bottom: 30px;
    }
  }
  &__description {
    font-family: 'SFUIText';
    @include font(16px, 24px);
    font-weight: 300;
    @media (max-width: $tablet-width) {
      @include font(14px, 21px);
    }
  }
  &__image-wrapper {
    position: relative;
    width: 50%;
    &--first {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%,-55%);
        z-index: -1 ;
        border-radius: 50%;
        background-color: rgba($primary, .5);
        //border: 20px solid rgba(0,0,0,1);
        @include square-size(372px)
      }
    }
    &--second {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1 ;
        border-radius: 50%;
        //background-color: rgba($primary, .5);
        border: 45px solid rgba($primary, .5);
        @include square-size(462px)
      }
    }
    &--indent {
      margin-top: -110px;
    }
  }
}